.portal {
  @apply fixed  top-4 right-4 mx-4 mt-4 rounded-xl bg-black/50 text-white p-4;
  animation: slideRightToLeft 5s forwards;
}

@keyframes slideRightToLeft {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(150%);
  }
}
